@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 243, 244, 246; /* softWhite */
  --background-rgb: 15, 23, 42; /* space */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  min-height: 100vh;
  /* Utility class for hiding scrollbars in horizontal scroll containers */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
